/.idea
/wp-admin/
/wp-includes/
/wp-content/themes/
/wp-content/upgrade/
/wp-content/uploads/
/wp-content/languages/
/wp-content/index.php
/wp-content/plugins/*
!/wp-content/plugins/unlimit
/wp-content/plugins/unlimit/vendor/
/wp-content/plugins/unlimit/node_modules/
/wp-content/plugins/unlimit/composer.lock
/wp-content/plugins/unlimit/package-lock.json
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config.php
/wp-config-sample.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
*.iml